<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="LimsUrl" value=""/>
        <add key="LimsToken" value=""/>
        <add key="SerialPort" value=""/>
        <add key="PrinterIPAddress" value=""/>
        <add key="PrinterIPPort" value="9100"/>
    </appSettings>
</configuration>